@{
    ViewBag.Title = "Agenda de Contatos";
}

<div class="jumbotron">
    <h1>Agenda de Contatos - Tutorial</h1>
    <p class="lead">Este é um tutorial para a criação de uma agenda de contatos baseada nos conceitos de arquitetura de software multicamadas</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Início</h2>
        <p>
            Esta é a página de entrada da sua aplicação!
        </p>
    </div>
</div>